- name: Hello from role
  ansible.builtin.debug:
    msg: Hello

- name: print URL
  ansible.builtin.debug:
    msg: URL = {{URL}}
    # it  is accessing url directly from defaults

- name: copy file
  ansible.builtin.copy:
    src: sample.txt
    dest: /tmp/sample-file.txt

- name: template a file
  ansible.builtin.template:
    src: sample.txt
    dest: /tmp/sample-template.txt